
.appWrap {
padding: 1rem;
}

header {
  padding: 1rem 0;
}
.navMain {
  display: flex;
  justify-content: right;
}

.navMain > li {
  padding: 1rem .5rem;
  color: slateblue;
}

.hero {
  max-height: 100vh;
}