
.appWrap {
padding: 1rem;
}

header {
  padding: 1rem 0;
}
.navMain {
  display: flex;
  justify-content: right;
}

.navMain > li {
  padding: 1rem .5rem;
  color: slateblue;
}

.hero {
  height: 75vh;
}

.heroContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.heroText {
  width: calc(100% - 100px);
}